@import '../styles/mixin';

header{
    // position: fixed;
    // width:100%;

nav{
   @include flexbox;
   @include padding;

   a{
    text-decoration: none;
    margin: 0 3rem;
    font-family: 'Roboto', 'Ubuntu', 'Manrope';
    font-size: 1rem;
    font-weight: 600;
    color:gray;
}
}
}